@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	:root {
		--radius: 0.5rem;
		--primary: #02b828;
		--accent: #02b828;
		--secondary: #141414;
	}
}
